* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    height: 100vh;
}

nav {
    height: 5vh;
    width: 100vw;
    display: flex;
}

.right-nav {
    display: inline-flex;
    flex-direction: row;
    width: 50vw;
    justify-content: flex-end;
    align-items: center;
    margin-right: 20px; 
}

.left-nav {
    display: inline-flex;
    flex-direction: row;
    width: 50vw;
    align-items: center;
    margin-left: 20px;    
}

nav ul li {
    list-style-type: none;
    font-size: 13px;
    color: #636363;
    padding-left: 15px;
}

#grid-button {
    padding: 0 22px;
    color: #636363;
    font-size: 19px;
}

.sign-in {
    color: #ffffff;
    background-color: #3782f3;
    border: none;
    font-weight: 700;
    padding: 7px 12px;
}

.sign-in:active {
    background-color: #2557a1;
}

nav ul li a {
    text-decoration: none;
    color: #636363;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #727272;
}

img {
    display: block;
    margin: auto;
    padding-top: 120px;
}

.google-search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 550px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    font-size: 16px;
    border-radius: 25px;
    border: .5px solid #c5c5c5;
}

.google-search:focus {
    box-shadow: 5px 3px 7px -2px rgba(156,156,156,1);
    outline: transparent;
}

.google-search:hover {
    box-shadow: 5px 3px 7px -2px rgba(156,156,156,1);
}

.button-area {
    width: 100%;
    flex-direction: row;
    display: flex;
    justify-content: center;
}

.button-area button {
    padding: 8px 14px;
    margin: 30px 5px;
    border: none;
    color: #727272;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;
}

.button-area button:hover {
    border: 0.7px solid #a3a3a3;
    box-shadow: 0.5px 0.5px 5px 0.5px #a3a3a3;
}

.button-area a {
    text-decoration: none;
}

.button-area a:visited {
    color:#727272;
}

.center-area {
    height: 90.5vh;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 4.5vh;
    background-color:#f1f1f1;
}

footer ul li {
    display: inline-flex;
    flex-direction: row;
    color: #727272;
}

footer ul li a {
    text-decoration: none;
    color: #727272;
    margin: 0 11px;
    font-size: 14px;
}

footer ul li a:hover {
    text-decoration: underline;
}

.left-footer {
    width: 50vw;
    margin-left: 20px;
}

.right-footer {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

