* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
}

.right-nav {
    display: inline-flex;
    flex-direction: row;
    margin: 22px 0;
    margin-left: 670px;
    width: 30%;
    justify-content: flex-end;
    align-items: center;
    position: block; 
}

.left-nav {
    display: inline-flex;
    flex-direction: row;
    margin: 22px;
    width: 30%;
    position: relative;   
}

nav ul li {
    list-style-type: none;
    font-size: 13px;
    color: #636363;
    padding-left: 15px;
}

#grid-button {
    padding: 0 22px;
    color: #636363;
    font-size: 19px;
}

.sign-in {
    color: #ffffff;
    background-color: #3782f3;
    border: none;
    font-weight: 700;
    padding: 7px 12px;
}

.sign-in:active {
    background-color: #2557a1;
}

nav ul li a {
    text-decoration: none;
    color: #636363;
}

nav ul li a:hover {
    text-decoration: underline;
    color: #727272;
}

img {
    display: block;
    margin: auto;
    padding-top: 120px;
}

.google-search {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    width: 550px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 50px;
    font-size: 16px;
    border-radius: 25px;
    border: .5px solid #c5c5c5;
}

.google-search:focus {
    box-shadow: 5px 3px 7px -2px rgba(156,156,156,1);
    outline: transparent;
}

.google-search:hover {
    box-shadow: 5px 3px 7px -2px rgba(156,156,156,1);
}

#search-glass {
    display: flex;
    justify-content: center;
    position: relative;
    font-size: 20px;
    top: -30px;
    left: 36.5%;
    color:#8d8d8d; 
    width: 20px;
   
}




